body{
	margin:0;
	font-family: Arial
}

header{
	padding:1.6rem 1rem;
	text-align:center;
	background: rgb(25, 197, 216);
}


main.contenedor{
	max-width:1000px;
	margin:1.5rem auto;
	padding:1rem;
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}

.caja{
    border-radius:10px;
	padding:1rem;
	text-align:center;
	box-shadow: 0 6px 18px rgba(7,49,74,0.04);
}
